<!DOCTYPE html>
<html>
<head>
  <title>Nugroho Aditya</title>
 
<link href="<%= root_path %>assets/bootstrap.css" rel='stylesheet' type='text/css' />


<link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>


<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="keywords" content="nugroho aditya" />

</head>
<body>


<div align="center">
<%= image_tag "logo-nugroho-aditya.png", rel:"icon", type:"image/x-icon", style:"" %>

<h1>Nugroho Aditya</h1>
</div>


  <table class="table">
   
   <tr>
  <td align="right">Place, Date Of Birth</td>
  <td widht="50px"></td>
  <td align="left">Jakarta, 19 May 1989</td>
</tr>
   <tr>
  <td align="right">Address</td>
  <td widht="50px"></td>
  <td align="left">Warakas 1 NO.101, Jakarta, Indonesia</td>
</tr>
   <tr>
  <td align="right">Email</td>
  <td widht="50px"></td>
  <td align="left">nugroho.adty@gmail.com / nugroho.adty@yahoo.com</td>
</tr>
  <tr>
  <td align="right">Phone</td>
  <td widht="50px"></td>
  <td align="left">+62 818 079 66660</td>
</tr>
  <tr>
  <td align="right">Portfolio</td>
  <td widht="50px"></td>
  <td align="left">tugasakhir-nugrohoaditya.hol.es / </td>
</tr>
 <tr>
  <td colspan="3"></td>
</tr>

  </table>


<div align="center">

<h1>Educational Background</h1>
</div>
  <table class="table">
   
   <tr>
  <td align="right">1995 – 2001</td>
  <td widht="50px"></td>
  <td align="left">SD Negeri 05 Pagi Jakarta</td>
</tr>
   <tr>
  <td align="right">2001 – 2004</td>
  <td widht="50px"></td>
  <td align="left">SMP Negeri 129 Jakarta</td>
</tr>
   <tr>
  <td align="right">2004 – 2007</td>
  <td widht="50px"></td>
  <td align="left">SMK Negeri 56 Jakarta</td>
</tr>
   <tr>
  <td align="right">2015 – 2017</td>
  <td widht="50px"></td>
  <td align="left">Information Sistem, Mercu Buana University</td>
</tr>
 <tr>
  <td colspan="3"></td>
</tr>

  </table>


<div align="center">

<h1>Working Experience</h1>
</div>

  <table class="table">
   
   <tr>
  <td align="center">Working at</td>
  <td widht="50px"></td>
  <td align="center">Period</td>
   <td widht="50px"></td>
   <td align="center">Purpose</td>
    <td widht="50px"></td>
   <td align="center">Position</td>
</tr>
   <tr>
  <td align="center">PT. Quantum Invention Indonesia</td>
  <td widht="50px"></td>
  <td align="center" >2014 – 2016</td>
   <td widht="50px"></td>
   <td align="center">Contract</td>
    <td widht="50px"></td>
   <td align="center">Website Developer (Back End)</td>
</tr>
 <tr>
  <td >Job's Description </td>
  <td colspan="6">build a web-based application using PHP programming language,sometimes we use framework like CI(Codeigniter), but lot more use native.</td>
</tr>

   <tr>
  <td align="center">Quantum Invention Ltd (Galactio)</td>
  <td widht="50px"></td>
  <td align="center" >2012 – 2014</td>
   <td widht="50px"></td>
   <td align="center">Contract</td>
    <td widht="50px"></td>
   <td align="center">Website Developer (Back End)</td>
</tr>
 <td >Job's Description </td>
  <td colspan="6">build a web-based application using PHP programming language,sometimes we use framework like CI(Codeigniter), but lot more use native.</td>
</tr>
 <tr>
  <td colspan="7"></td>
</tr>


  </table>


<div align="center">

<h1>Skills</h1>
</div>
<table class="table" widht="500px">
   
   <tr>
  <td align="left" >PHP</td>
  <td widht="50px"></td>
  <td align="left">80%</td>
</tr>
   <tr>
  <td align="left">RAILS</td>
  <td widht="50px"></td>
  <td align="left">25%</td>
</tr>
   <tr>
  <td align="left">HTML5</td>
  <td widht="50px"></td>
  <td align="left">70%</td>
</tr>
   <tr>
  <td align="left">CSS3</td>
  <td widht="50px"></td>
  <td align="left">50%</td>
</tr>
   <tr>
  <td align="left">JQUERY</td>
  <td widht="50px"></td>
  <td align="left">50%</td>
</tr>
   <tr>
  <td align="left">SEO</td>
  <td widht="50px"></td>
  <td align="left">30%</td>
</tr>
   <tr>
  <td align="left">PHOTOSHOP</td>
  <td widht="50px"></td>
  <td align="left">40%</td>
</tr>


 <tr>
  <td colspan="3"></td>
</tr>

  </table>


<div align="left">This is to state that above information is true and provided here by me, all in good faith.</div>
<br>
<br>
<br>
<br>
<div align='right'>Sincerely,</div>
<br>
<br>
<div align='right'>Nugroho Aditya</div>

</body>
</html>